# Archivos y carpetas ignorados por Git para un proyecto Java/Maven y varios IDEs
/target/
/.idea/
*.iml
*.class
*.log
.DS_Store
.settings/
.project
.classpath
# Archivos de sistema
Thumbs.db
ehthumbs.db
desktop.ini
# Archivos de entorno Python (por si usas scripts auxiliares)
__pycache__/
*.pyc
# Archivos de entorno JetBrains
.idea/
# Archivos de entorno NetBeans
nbproject/
